*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/spec/tmp/*
/.idea/*

/db/*.sqlite3
/db/public.sql

/public/system/*
/public/spree/*
/public/uploads/*
/public/assets/*

*.xml